* {
	outline: 0;
	margin: 0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	overscroll-behavior: none;
	font-family: 'Roboto'
}

:root {
	--primary: #1A1C2C;
	--secondary: #FF2E88
}

a,a:link,a:visited,.a:hover,.a:focus,a:active{
	color: inherit;
	text-decoration: none;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}	

.add {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	input {
		-webkit-appearance: none;
		appearance: none;
		border: 0;
		font-size: 14px;
		padding: 10px 14px;
		border-radius: 40px;
		border: 2px solid var(--secondary);
		min-width: 250px;
		background: rgba(255,255,255,0.9)
	}
}
